<div class="card text-center m-5">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <app-date-picker></app-date-picker>
      <br>
      <app-progress-bar></app-progress-bar>
      <br>
      <app-alerts></app-alerts>
      <app-snack-bar></app-snack-bar>
      <br><br>
      <h5>progress bar using ng-bootstrap</h5>
      <app-progress-bar-ng-bootstrap></app-progress-bar-ng-bootstrap>
      <br><br>
      <button class="btn btn-primary" (click)="testShow()">Go somewhere</button>
    
    </div>
  </div>